body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8; /* Fundo cinza claro */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos do cabeçalho */
header {
    background-color: #ec24ba; /* Cor de fundo do cabeçalho */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 48px; /* Tamanho do título */
    margin: 10px 0 5px; /* Espaçamento ajustado */
}

header p {
    font-size: 20px; /* Tamanho do texto */
    margin: 0;
}

/* Estilos da galeria de vestidos */
.galeria {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0;
}

.item {
    width: 300px; /* Largura dos itens */
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 10cm; /* Imagem ocupando toda a largura do item */
    border-radius: 10px;
    margin-bottom: 10px;
}

.item h2 {
    font-size: 10cm; /* Tamanho do título dos vestidos */
    margin: 10px 0 5px; /* Espaçamento ajustado */
}

/* Estilos do rodapé */
footer {
    background-color: #ec24ba5d; /* Cor de fundo do rodapé */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape p {
    margin: 0;
}

.rodape ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rodape ul li {
    display: inline-block;
    margin-right: 10px;
}

.rodape ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}