// Definição de variáveis
$largura-maxima: 800px;
$espacamento: 20px;

// Estilos gerais
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    max-width: $largura-maxima;
    margin: 0 auto;
    padding: $espacamento;
    text-align: center;
}

.imagem-destaque {
    max-width: 50%; // Garante que a imagem não ultrapasse a largura do seu contêiner
    height: pequeno;; // Altura ajustável de acordo com a largura
    display: block; // Remove espaços extras abaixo da imagem
    margin: 0 auto; // Centraliza a imagem horizontalmente
}

